@import url('./reset.css');
@import url('./base.css');

/* Loader */

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4e75ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Form */
.form {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Input */

.form input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  border: 1px solid #808080;
  padding-left: 16px;
  outline: none;
  transition: all 0.3s ease;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}

.form input:hover {
  border: 1px solid #000;
}

.form input:focus {
  border: 1px solid #4e75ff;
  color: #000;
}

/* Button */

.btn-submit {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-submit:hover,
.btn-submit:focus {
  background: #6c8cff;
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 20px;
  list-style: none;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform 0.2s ease-in-out;
  border: 1px solid #808080;
  width: calc((100% - 48px) / 3);
}

.gallery-item:hover {
  transform: scale(1.02);
}

.gallery-link {
  display: block;
  flex-grow: 1;
}

.gallery-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 16px;
}

.label {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

span {
  display: block;
}

/* load more */

.btn-loadmore {
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  display: flex;
  margin: 0 auto;
  border: none;
  margin-bottom: 52px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-loadmore:hover,
.btn-loadmore:focus {
  background: #6c8cff;
}

.hidden {
  display: none;
}
